@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body,
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #fff;
    background: #0c111b;
    /* background: #0f1014; */
}

